<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <link rel="icon" type="image/png" href="/images/liebre.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header class="main-header">
            <div class="main-header-top-bar">
                <div class="logo"> 
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y más</div>
                    <div class="logo"><i class="fa fa-search"></i></div>
                </div>
                <div class="copy-header"><p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p></div>
                
            </div>
            <nav class="main-header-bottom-bar">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <main class="login">
            <div class="caja-login">
            <form action="/" method="POST">
                <input type="text" name="user" placeholder="Nombre de usuario">
                <input type="password" name="pass" placeholder="Elegí tu contraseña">
                <input type="submit" value="Enviar">
            </form>
        </div>
        </main>
        <footer>
            <div id="pie">
                <section>
                    <article>
                        <div>
                        <h4>Mercadoliebre</h4>
                        <p>Todos tus productos en un solo lugar</p>
                        </div>
                    </article>
                    <article>
                        <div>
                        <h4>Navegación</h4>
                        <ul>
                            <li>Ofertas</li>
                            <li>Tiendas Oficiales</li>
                            <li>Vender</li>
                            <li>Ayuda</li>
                            <li>Crea tu Cuenta</li>
                            <li>Ingresa</li>
                            <li>Mis compras</li>
                        </ul>
                       </div>
                    </article>
                    <article>
                        <div>
                        <h4>Medios de Pago</h4>
                            <img class="tarjetas"   src="/images/creditcards/visa.png" alt="">
                            <img class="tarjetas" src="/images/creditcards/mastercard.png" alt="">
                            <img class="tarjetas" src="/images/creditcards/amex.png" alt="">
                            <img class="tarjetas" src="/images/creditcards/naranja.png" alt="">
                            <img class="tarjetas" src="/images/creditcards/mercadopago.png" alt="">
                            <img class="tarjetas" src="/images/creditcards/pagofacil.png" alt=""> 
                        <h4>Métodos de Envío</h4>                      
                        <img class="tarjetas" src="/images/envios/andreani.png" alt="">
                        <img class="tarjetas" src="/images/envios/correo_argentino.png" alt="">
                        <img class="tarjetas" src="/images/envios/branch@2x.png" alt="">
                        <img class="tarjetas" src="/images/envios/table@2x.png" alt="">
                        </div>
                    </article>
                    <article>
                        <h4>Contacto</h4>
                    543834682598
                    543834784654
                    info@mercadoliebre.com.ar
                    San Martín esquina Sarmiento, Catamarca
                </article>
                    </section>
            </div>
        </footer>
    </body>
</html>